*{
    margin: 0;
    padding: 0;
}
body{
    font: Arial, sans-serif !important;
    background-color: black !important;
}
header{
    margin-top: 1em !important;
    color: white !important; 
    text-align: center !important;
    justify-content: center !important;
}  
.img-perfil{
    width: 10% !important;
    border-radius: 50% !important;

} 
.txt-perfil{
    margin-top: 0.6em !important;
    font-size: 10em !important;
 
}
footer{
    text-align: center !important;
    color: white !important;
    font-size: 10em !important;

}
.txt-icon{
    font-size: 10em !important;
    padding-top: 6% !important;
}


.content {
    width: 100% !important;
    background-color: rgba(88, 88, 88, 0.596);
    padding: 2em !important;
    margin-top: 10em !important;
    border-radius: 2em !important;
    color: white;
}
.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right:25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}
.img-icon{
    width: 100% !important;   
}
a{
    text-decoration: none;
}
@media (min-width: 200px) and (max-width: 768px){
    .img-perfil{
        width: 40% !important;
        border-radius: 50% !important;
    
    } 
    .img-icon{
        width: 250% !important;
    }
    .txt-icon{
    font-size: 220% !important;
    }
    .content{
        width: 130% !important;
        background-color: rgba(88, 88, 88, 0.596) !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 1em !important;
        margin-left: 0%;
    }
    .principal{
        text-align: center !important;
        margin-left: 10% !important;
        margin-right: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 15% !important;
    }

}

